version: "3.9"

services:
  backend:
    build:
      context: ..
      dockerfile: deployment/Dockerfile.backend
    container_name: farmer_backend
    ports:
      - "5000:5000"
    env_file:
      - ../backend/.env
    depends_on:
      - mongo

  frontend:
    build:
      context: ..
      dockerfile: deployment/Dockerfile.frontend
    container_name: farmer_frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  mongo:
    image: mongo:6.0
    container_name: farmer_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: