@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-style {
    @apply w-full px-4 py-3 rounded-lg border border-gray-300 focus:ring-2 focus:ring-green-500 focus:outline-none transition;
  }
}